@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?y8covq');
  src:  url('../fonts/icomoon.eot?y8covq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?y8covq') format('truetype'),
    url('../fonts/icomoon.woff?y8covq') format('woff'),
    url('../fonts/icomoon.svg?y8covq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook1:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter1:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}
